.logo{
    width: 50px;
    height: 50px;
    padding-right: 0px;
   
}
.city-name{
    display: flex;
   color: #ffffff;
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
    padding-bottom: 100px;
   
}

.city-name h3{
padding-left: 30%;
}

body{
    background-image: url(/beautiful-white-cloud-blue-sky-sea-ocean.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0px;
    margin: 0px;

    

} 
.btn{
background-color: aliceblue;
}
#button{
    background-color: rgb(255, 255, 255);
}
.pic1{
    display: flex;
    width: 100px;
    height: 100px;
    MARgin-left: 10%;  
  
}
.textpic1{
    padding-bottom: 5%;
    display: flex;
    flex-direction: column;
    

}
.pic2{
    width: 30px;
    height: 30px;
}
.cc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.day1{

}
.card{
    
}
.logoname{
margiN: 12Opx;
}
.days{
    display: flex;
    align-items: center;
   
    gap: 10px;
}
.citycard{
    height: 100px;
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.piccadr{

}